@font-face {
    font-family: 'abc';
    src: url('../fonts/abc.eot');
    src: url('../fonts/abc.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abc.woff') format('woff'),
         url('../fonts/abc.ttf') format('truetype'),
         url('../fonts/abc.svg#abc') format('svg');
    font-weight: normal;
    font-style: normal;
}