
// PREFIX CSS PROPERTIES
// opacity : opacity
// transform : -prefix-transform, transform
@function prefix($property, $prefixes: (webkit moz o ms)) {
	$vendor-prefixed-properties: transform filter background-clip background-size;
	$result: ();

	@each $prefix in $prefixes {
		@if index($vendor-prefixed-properties, $property) {
			$property: -#{$prefix}-#{$property}
		}
		$result: append($result, $property);
	}

	@return $result;
}



// PREFIX CSS PROPERTIES FOR TRANSITION
// opacity .2s 1s : opacity .2s 1s
// transform .2s 1s : -prefix-transform .2s 1s, transform .2s 1s
@function trans-prefix($transition, $prefix: moz) {
	$prefixed: ();

	@each $trans in $transition {
		$prop-name: nth($trans, 1);
		$vendor-prop-name: prefix($prop-name, $prefix);
		$prop-vals: nth($trans, 2);
		$prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
	}

	@return $prefixed;
}