#UI_preloader {
    position: fixed;
    top: 0px;
    overflow: hidden;
    width: 1px;
    height: 1px;
    left: 0px;
}


// http://www.entypo.com/characters/
.UI_icon {
    font-family: 'entypo';
    font-size: 1.5em;
    line-height: 1em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    &.social { font-family: 'entypo_social'; }
}