


// ==========================================================================
// CLEARFIX
// ==========================================================================

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}




// ==========================================================================
// HIDE TEXTE
// ==========================================================================

.hideText {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}




// ==========================================================================
// ELLIPSIS : TRUNCATE TEXTE
// ==========================================================================

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}