
// ==========================================================================
// FONT FAMILY
// ==========================================================================

$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$lucidaGrande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;



// ==========================================================================
// RESPONSIVE
// ==========================================================================

$sizeMobile : 767px;
$sizeTablet : 768px;
$sizeDesktop : 1025px;